:root {
  --body-bg: #121314;
  --main-text-color: #F2F2F2;
  --secondary-text-color: #D3E0E5;
  --tertiary-text-color: #6c7985;
  --header-bg: #151617;
  --nav-color: #1F2021;
  --flair-color: #F0513F;
  --flair-highlight-color: #FF9B5E;
  --font-family-primary: 'Open Sans', Helvetica, Arial, sans-serif;
  --slider-height: 580px;
  --border-color: #7c828527;
  --border-radius: 3px;
  backdrop-filter: url(commonfilters.svg#filter);
}



/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  font-family: var(--font-family-primary);
  background-color: var(--body-bg);
  color: var(--main-text-color);
  min-height: 100%;
  height: 100%
}

/* Header styles */
header {
  background-color: var(--header-bg);
  color: var(--main-text-color);
  height: 22em;
  padding: 5em;
  padding-bottom: 20em;
  text-align: center;
}

.logo {
  padding: 2em;
  text-align: left;
}

.logo-svg {
  padding-bottom: 10px;
  width: auto;
  min-width: 20px;

  max-width: 800px;
}

.logo-text {
  padding-left: 30px;
  font-size: 1.8rem;
  /* set default font size */
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {

  /* adjust font size for smaller screens */
  .logo-text {
    font-size: 1.0rem;
  }

  header {
    background-color: var(--header-bg);
    color: var(--main-text-color);
    height: 8em;
    padding: 1em;
    padding-bottom: 20em;
    text-align: center;
  }

}



/* =================               ================ */
/* =================               ================ */
/* =================   Navigation  ================ */
/* =================               ================ */
/* =================               ================ */

nav {
  display: flex;
  justify-content: center;
  padding: 1.2em;
  border-bottom: var(--border-radius) solid;
  border-top: var(--border-radius) solid;
  border-color: var(--border-color);
}

nav a {
  color: var(--main-text-color);
  text-decoration: none;
  margin: 0 1em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 2.5em;
  position: relative;
}


nav a:hover {
  color: var(--flair-color);
  transition: all 0.2s ease-in-out;
}


.nav-socials a {
  margin-left: 0.01em;
  padding: 0.33em;

}

nav .fa-brands {
  text-decoration: none;
  color: var(--tertiary-text-color);
  margin-top: 0.4em;
  font-size: 1.2em;
  padding: 0;
  transition: all 0.3s ease-in-out;
  /* change transition to transform */
  vertical-align: middle;
  /* align the icons vertically */
}

nav .fa-brands:hover {
  color: var(--secondary-text-color);
  transform: scale(1.1);
  /* use transform to scale the icons */
}

@media screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    padding: 1em;
  }

  nav a {
    margin: 1em;
    font-size: 1em;
    padding: 0.5em 1.5em;
  }

  .seperator {
    padding: 1.5em;
  }
}

.nav-bg {
  background-image: url(assets/ui/tiling_grunge1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* =================   Seperator   ================ */

.seperator {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 2em;
}





/* =================               ================ */
/* =================               ================ */
/* ================= Footer  Style ================ */
/* =================               ================ */
/* =================               ================ */




.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 6.5em;
  background-color: var(--nav-color);
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--border-color);
  background-image: url(assets/ui/tiling_grunge1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-top .follow-me {
  font-size: 1.8em;
  color: #767676;
  margin-right: 1em;
}

.footer-top a {
  margin: 0 10px;
  height: 50px;
  /* set a fixed height for the icons */
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.footer-top .fa-brands {
  text-decoration: none;
  color: var(--flair-color);
  margin: 0.2em;
  font-size: 2.5em;
  transition: all 0.3s ease-in-out;
  /* change transition to transform */
  vertical-align: middle;
  /* align the icons vertically */
}

.footer-top .fa-brands:hover {
  color: var(--flair-highlight-color);
  transform: scale(1.2);
  /* use transform to scale the icons */
}




.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/ui/tiling_grunge2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25em;
}

.footer-bottom p {
  margin: 0;
  color: var(--flair-color);

}

@media screen and (max-width: 768px) {
  .footer-top {
    height: 3.5em;
  }

  .footer-top .fa-brands {
    text-decoration: none;
    color: var(--flair-color);
    margin: 0.2em;
    font-size: 1.5em;
    transition: all 0.3s ease-in-out;
    /* change transition to transform */
    vertical-align: middle;
    /* align the icons vertically */
  }

  .footer-top .follow-me {
    font-size: 1em;
    color: #767676;
    margin-right: 1em;
  }

  .footer-bottom {
    height: 10em;
  }

}




/* =================               ================ */
/* =================               ================ */
/* ================= Contacts Page ================ */
/* =================               ================ */
/* =================               ================ */

/* Set a container for the two columns */
.contact-container {
  display: flex;
  display: flex;
  margin: 0 10%;
  width: 80%;
}


/* Set the width of the left and right columns */
.left-column {
  width: 70%;
  padding: 20px;
}

.right-column {
  width: 30%;
  padding: 20px;
}

/* Style the Twitter section */
.twitter-container {
  margin-top: 20px;
  padding-right: 40px;

}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
  }
}

.social-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}

.social-link {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  height: 164px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 20px;
  border-width: 25px;
  border-bottom: 4px solid;
  border-top: 4px solid;
  border-color: var(--border-color);


}


.social-link a:focus,
a:active,
a:visited,
a:link {
  text-decoration: none;

}

.social-link.mail {
  background-color: #2B2C2D;
  text-decoration: none;
}

.social-link.twitter {
  background-color: #0084C8;
}

.social-link.discord {
  background-color: #5c63e7;
}

.social-link.artstation {
  background-color: #115189;
}

.social-link.instagram {
  background-color: #941C54;
}

.social-link.linkedin {
  background-color: #0077C9;
}

.social-link.facebook {
  background-color: #41599D;
}



.social-links div {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.fa-brands,
.fa-sharp,
.fa-solid {
  color: white;
  font-size: 3.5em;
  transition: all 0.3s ease-in-out;
  /* change transition to transform */
}



/* =================               ================ */
/* =================               ================ */
/* ================= Projects Page ================ */
/* =================               ================ */
/* =================               ================ */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 40px;
  max-width: 75%;
  /* Change this value to adjust the maximum width */
  margin-left: auto;
  margin-right: auto;
}

.project {
  background-color: var(--nav-color);
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 400px;
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-color: var(--border-color);

}

.project h2 {
  margin-top: 0;
}

.project:nth-child(odd) {
  background-color: var(--nav-color);
}

/* Main content styles */

.home {
  text-align: center;
  margin: 40px 20% 200px;

}

.home h2 {
  font-size: 30px;
  margin-bottom: 40px;
}


.frame {
  padding: 40px;
  padding-top: 100px;
  min-height: 600px;
  margin-top: 40px;
  position: relative;
}

.frame h2 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  margin-bottom: 40px;
}

.frame p,
.frame ul {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.frame.light p,
.frame.light ul {
  text-align: right;
}


.dark {
  background-color: var(--body-bg);
  border-color: var(--border-color);
}

.light {
  background-color: var(--nav-color);
  color: #fff;
  text-align: right;
  border-bottom: 4px solid;
  border-top: 4px solid;
  border-color: var(--border-color);
}

.text-frame {
  width: 80%;
  margin: 0 auto;
}

.right {
  float: right;
}


/* =================               ================ */
/* =================               ================ */
/* =================    Skills     ================ */
/* =================               ================ */
/* =================               ================ */
.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-top: 60px;
  margin-bottom: 140px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
}

.skill img {
  width: 100%;
  max-width: 120px;
  height: auto;
  margin-bottom: 10px;
  filter: drop-shadow(0px 10px 10px rgba(18, 19, 20, 0.5));
}

.skill p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}





/* carousel */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {

  margin: 0 auto;
  width: 100%;
  height: var(--slider-height);
  position: relative;
  overflow: hidden;
}

.slides {

  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding: 15%;
  padding-top: var(--slider-height);
  color: white;
}

#next-btn {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);

  -webkit-mask-image: linear-gradient(to left, black 0%, transparent 80%);
  mask-image: linear-gradient(to left, black 0%, transparent 80%);

}

#prev-btn {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);

  -webkit-mask-image: linear-gradient(to right, black 0%, transparent 80%);
  mask-image: linear-gradient(to right, black 0%, transparent 80%);
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}


#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

.slide-content {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}



/* carousel image wrapper */

.image-wrapper-carousel {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;

}

.image-wrapper-carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;

}

.image-wrapper-carousel :hover img {
  transform: scale(1.05);

}

.image-wrapper-carousel :hover .overlay-text {
  opacity: 1;

}

.image-wrapper-carousel :before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #12141784 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}




.gallery {
  display: grid;
  width: 90%;
  margin-left: 5%;
  grid-template-columns: repeat(auto-fit, minmax(12%, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.gallery-item:hover::before {
  opacity: 1;
}

.gallery-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover .gallery-item-info {
  transform: translateY(0);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* add dark overlay */
  backdrop-filter: blur(8px); /* add slight blur */
  backdrop-filter: grayscale(70%);
  display: none;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1516175a;
  text-align: center;
  border-radius: 1em;
}

.popup-title{
  margin: 1rem;
  font-size: 2.5rem;
}

.popup-description {
  margin: 1.4rem;
  font-size: 1.3rem;
  color: var(--tertiary-text-color);
}

.popup-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-close:hover {
  color: #fff;
  background-color: #333;
}